<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/form-stylesheet.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Edit Invoice</title>
</head>
<body>
    <div class="topnav">
        <a class="active" th:href="@{/hub/clients}">Clients</a>
    </div>
    <div class="container">
        <h2 th:text="${projectTask.id != null ? 'Edit Task' : 'Add New Task'}">Edit Task</h2>
        <form method="post" th:object="${projectTask}" th:action="@{/hub/tasks/save}">
            <p style="color:red;" th:errors="*{title}"></p>
            <label>Title</label><input type="text" placeholder="Title" th:field="*{title}">
            <p style="color:red;" th:errors="*{description}"></p>
            <label>Description</label><input type="text" placeholder="Description" th:field="*{description}">
            <select th:field="*{status}">
                <option th:each="status : ${T(org.example.project_management.entity.TaskStatus).values()}"
                        th:value="${status}"
                        th:text="${status.displayName}">
                </option>
            </select>
            <label>Due Date</label><input type="date" placeholder="Due Date" th:field="*{dueDate}" required>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{project.id}">
            <br><br>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>